@use "variables" as * ;
@use "sass:map";

@mixin generate-utility-classes($map) {
  @each $property, $settings in $map {
    $prefix: map.get($settings, "prefix");
    $values: map.get($settings, "values");

    @each $k, $v in $values {
      @if ($k == "default") {
        .#{$prefix} {
          #{$property}: #{$v};
        }
      } @else {
        .#{$prefix}-#{$k} {
          #{$property}: #{$v};
        }
      }
    }
  }
}

@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}